<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Búsqueda de mensajes</strong>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-6 col-xl mb-6 mb-xl-0">
                    <div class="form-group">
                        <label for="">Fecha Inicial</label>
                        <input type="text" class="form-control" id="date" placeholder="dd/mm/aaaa">
                    </div>

                    <div class="form-group">
                        <label for="">Clave de rastreo</label>
                        <input type="text" class="form-control" id="date" placeholder="192812891">
                    </div>

                    <div class="form-group">
                        <label for="">Monto de depósito. Desde:</label>
                        <input type="text" class="form-control" id="date" placeholder="$1">
                    </div>


                </div>

                <div class="col-6 col-xl mb-6 mb-xl-0">

                    <div class="form-group">
                        <label for="">Fecha Final</label>
                        <input type="text" class="form-control" id="date" placeholder="dd/mm/aaaa">
                    </div>

                    <div class="form-group">
                        <label for="">RFC</label>
                        <input type="text" class="form-control" id="date" placeholder="192812891">
                    </div>

                    <div class="form-group">
                        <label for="">Monto de depósito. Hasta:</label>
                        <input type="text" class="form-control" id="date" placeholder="$192812891">
                    </div>


                </div>

            </div>

            <div class="row align-items-center text-right">
                <div class="col-12 col-xl mb-12 mb-xl-0">
                    <button type="button" class="btn btn-primary" (click)="isCollapsedMain = !isCollapsedMain">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card-accent-primary">
                <div class="card-header">
                    <strong>Resultados</strong>
                </div>
                <div class="card-body" 
                (collapsed)="collapsedMain($event)"
                (expanded)="expandedMain($event)"
                [collapse]="isCollapsedMain">
                    <div class="col-md-12 mb-12">
                        <!-- Nav tabs -->


                        <div class="row">

                            <div class="col-md-12 mb-12">
                                <div class="animated fadeIn">
                                    <div class="card">
                                        <div class="card-header">
                                            Datos Generales
                                            <button type="button" class="btn btn-primary sm pull-right"
                                                (click)="isCollapsed1 = !isCollapsed1"><i id="datos-generales-chevron"
                                                    class="fa fa-chevron-down" [hidden]="ColapseDG"></i>
                                                <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                    [hidden]="!ColapseDG"></i>
                                            </button>
                                        </div>
                                        <div class="card-body" (collapsed)="collapsed1($event)"
                                            (expanded)="expanded1($event)" [collapse]="isCollapsed1">
                                            <dl class="row">
                                                <dt class="col-sm-3">Tipo de Cuenta</dt>
                                                <dd class="col-sm-9">Tercero a Tercero</dd>

                                                <dt class="col-sm-3">Cuenta</dt>
                                                <dd class="col-sm-9">2426524</dd>

                                                <dt class="col-sm-3">RFC o CURP</dt>
                                                <dd class="col-sm-9">WUSH398473</dd>

                                                <dt class="col-sm-3">Nombre</dt>
                                                <dd class="col-sm-9">Pedro</dd>

                                                <dt class="col-sm-3">Apellido Paterno</dt>
                                                <dd class="col-sm-9">Perez</dd>

                                                <dt class="col-sm-3">Apellido Materno</dt>
                                                <dd class="col-sm-9">Gonzalez</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">


                            <div class="col-md-12 mb-12">
                                <div class="animated fadeIn">
                                    <div class="card">
                                        <div class="card-header">
                                            Datos del Ordenante
                                            <button type="button" class="btn btn-primary sm pull-right"
                                                (click)="isCollapsed2 = !isCollapsed2"><i id="datos-generales-chevron"
                                                    class="fa fa-chevron-down" [hidden]="ColapseDO"></i>
                                                <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                    [hidden]="!ColapseDO"></i>
                                            </button>
                                        </div>
                                        <div class="card-body" (collapsed)="collapsed2($event)"
                                            (expanded)="expanded2($event)" [collapse]="isCollapsed2">
                                            <dl class="row">
                                                <dt class="col-sm-3">Tipo de Cuenta</dt>
                                                <dd class="col-sm-9">Tercero a Tercero</dd>

                                                <dt class="col-sm-3">Cuenta</dt>
                                                <dd class="col-sm-9">2426524</dd>

                                                <dt class="col-sm-3">RFC o CURP</dt>
                                                <dd class="col-sm-9">WUSH837493FDFECC92</dd>

                                                <dt class="col-sm-3">Nombre</dt>
                                                <dd class="col-sm-9">Pedro</dd>

                                                <dt class="col-sm-3">Apellido Paterno</dt>
                                                <dd class="col-sm-9">Perez</dd>

                                                <dt class="col-sm-3">Apellido Materno</dt>
                                                <dd class="col-sm-9">Gonzalez</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="row">

                            <div class="col-md-12 mb-12">
                                <div class="animated fadeIn">
                                    <div class="card">
                                        <div class="card-header">
                                            Datos del Beneficiario 1
                                            <button type="button" class="btn btn-primary sm pull-right"
                                                (click)="isCollapsed3 = !isCollapsed3"><i id="datos-generales-chevron"
                                                    class="fa fa-chevron-down" [hidden]="ColapseDB1"></i>
                                                <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                    [hidden]="!ColapseDB1"></i>
                                            </button>
                                        </div>
                                        <div class="card-body" (collapsed)="collapsed3($event)"
                                            (expanded)="expanded3($event)" [collapse]="isCollapsed3">
                                            <dl class="row">
                                                <dt class="col-sm-3">Tipo de Cuenta</dt>
                                                <dd class="col-sm-9">Tercero a Tercero</dd>

                                                <dt class="col-sm-3">Cuenta</dt>
                                                <dd class="col-sm-9">2426524</dd>

                                                <dt class="col-sm-3">RFC o CURP</dt>
                                                <dd class="col-sm-9">WUSH398473</dd>

                                                <dt class="col-sm-3">Nombre</dt>
                                                <dd class="col-sm-9">Pedro</dd>

                                                <dt class="col-sm-3">Apellido Paterno</dt>
                                                <dd class="col-sm-9">Perez</dd>

                                                <dt class="col-sm-3">Apellido Materno</dt>
                                                <dd class="col-sm-9">Gonzalez</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">


                            <div class="col-md-12 mb-12">
                                <div class="animated fadeIn">
                                    <div class="card">
                                        <div class="card-header">
                                            Datos del Beneficiario 2
                                            <button type="button" class="btn btn-primary sm pull-right"
                                                (click)="isCollapsed4 = !isCollapsed4"><i id="datos-generales-chevron"
                                                    class="fa fa-chevron-down" [hidden]="ColapseDB2"></i>
                                                <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                    [hidden]="!ColapseDB2"></i>
                                            </button>
                                        </div>
                                        <div class="card-body" (collapsed)="collapsed4($event)"
                                            (expanded)="expanded4($event)" [collapse]="isCollapsed4">
                                            <dl class="row">
                                                <dt class="col-sm-3">Tipo de Cuenta</dt>
                                                <dd class="col-sm-9">Tercero a Tercero</dd>

                                                <dt class="col-sm-3">Cuenta</dt>
                                                <dd class="col-sm-9">2426524</dd>

                                                <dt class="col-sm-3">RFC o CURP</dt>
                                                <dd class="col-sm-9">WUSH398473</dd>

                                                <dt class="col-sm-3">Nombre</dt>
                                                <dd class="col-sm-9">Pedro</dd>

                                                <dt class="col-sm-3">Apellido Paterno</dt>
                                                <dd class="col-sm-9">Perez</dd>

                                                <dt class="col-sm-3">Apellido Materno</dt>
                                                <dd class="col-sm-9">Gonzalez</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>


                        <br />
                        <h3>Cadena Original</h3>
                        <div class="col-md-12">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                                placeholder="Content.."
                                disabled>||1|08122014|06122014|112506|40012|IXE|Juan Garza Molina|40|032180000110540121|GAMJ740510F07|BBVA|Shunashi Perea Ortiz|40|012180012528891407|PEOS790430|Pago de Insumos|240|1500|00000100000100009805||</textarea>
                        </div>
                        <br />
                        <h3>Sello Digital</h3>
                        <div class="col-md-12">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                                placeholder="Content.."
                                disabled>kKQggYXet1N+j2FSLVaJaLBOLMTNXOnXSXW10IigQGLAz6EhCSt+lF2UKZPX/jZhEPs7ieJkSpvQdtjGFoKdj7ujHwCAScEd8qzFEy+M1pGlr0+I9k29xQTEToiROK9CBHc2xWEk4T9Gys8WheoeItU2/3d4cA3jZ6Y3j7jIdyM03bhE5CjFplLMlVica+VybHpotIXKjVJWmyChxeu+ikOkqbOP3n06zJNjdYuEe4YTjTuOusDhzOJiBPPTwAiZgTMAaQ==</textarea>
                        </div><br />
                        <h3>CDA</h3>
                        <div class="col-md-12">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                                placeholder="Content.."
                                disabled>||1|08122014|06122014|112506|40012|IXE|Juan Garza Molina|40|032180000110540121|GAMJ740510F07|BBVA|Shunashi Perea Ortiz|40|012180012528891407|PEOS790430|Pago de Insumos|240|1500|00000100000100009805|| kKQggYXet1N+j2FSLVaJaLBOLMTNXOnXSXW10IigQGLAz6EhCSt+lF2UKZPX/jZhEPs7ieJkSpvQdtjGFoKdj7ujHwCAScEd8qzFEy+M1pGlr0+I9k29xQTEToiROK9CBHc2xWEk4T9Gys8WheoeItU2/3d4cA3jZ6Y3j7jIdyM03bhE5CjFplLMlVica+VybHpotIXKjVJWmyChxeu+ikOkqbOP3n06zJNjdYuEe4YTjTuOusDhzOJiBPPTwAiZgTMAaQ==</textarea>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>