<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Búsqueda de mensajes</strong>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-6 col-xl mb-6 mb-xl-0">
                    <div class="form-group">
                        <label for="">Fecha Inicial</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="aaaa-mm-dd" name="dp" [(ngModel)]="model"
                                ngbDatepicker #dpStart="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dpStart.toggle()" type="button"><i
                                        class="icon-calendar"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Clave de rastreo</label>
                        <input type="text" [(ngModel)]="trackingKey" class="form-control" id="date" placeholder="ej: 192812891">
                    </div>

                    <div class="form-group">
                        <label for="">Cuenta del ordenante</label>
                        <input type="text" class="form-control" id="date" placeholder="ej: 192812891">
                    </div>

                    <div class="form-group">
                        <label for="" [hidden]="amountSwitch">Monto de depósito. Desde:</label>
                        <label for="" [hidden]="!amountSwitch">Monto de depósito:</label>
                        <input type="text" class="form-control" id="date" placeholder="ej: $100.00">
                    </div>


                </div>

                <div class="col-6 col-xl mb-6 mb-xl-0">

                    <div class="form-group">
                        <label for="">Fecha Final</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="aaaa-mm-dd" name="dp" [(ngModel)]="model"
                                ngbDatepicker #dpEnd="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dpEnd.toggle()" type="button"><i
                                        class="icon-calendar"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">RFC o CURP</label>
                        <input type="text" class="form-control" id="date" placeholder="192812891">
                    </div>

                    <div class="form-group">
                        <label for="">Cuenta del beneficiario</label>
                        <input type="text" class="form-control" id="date" placeholder="ej: 192812891">
                    </div>

                    <div class="form-group" [hidden]="amountSwitch">
                        <label for="">Monto de depósito. Hasta:</label>
                        <input type="text" class="form-control" id="date" placeholder="ej: $192,812,891.00">
                    </div>




                </div>

            </div>
            <div class="row">
                <div class="col-12 col-xl mb-12 mb-xl-0 d-flex h-100 ">

                    <label class="switch switch-3d switch-primary">
                        <input type="checkbox" class="switch-input" checked (change)="changeSwitchAmount()">
                        <span class="switch-slider"></span>
                    </label>
                    &nbsp;&nbsp;&nbsp;

                    <label for="" [hidden]="amountSwitch">Monto de depósito por rango</label>
                    <label for="" [hidden]="!amountSwitch">Monto de depósito fijo</label>



                </div>
            </div>

            <div class="row align-items-center text-right">
                <div class="col-12 col-xl mb-12 mb-xl-0">
                    <button type="button" class="btn btn-primary"
                        (click)=" searchCDABtn()">Buscar</button>

<!--                         <button type="button" class="btn btn-primary"
                        (click)="isCollapsedMain = !isCollapsedMain; searchCDABtn()">Buscar</button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card-accent-primary">
                <div class="card-header">
                    <strong>Resultados</strong>
                </div>
                <div class="card-body" (collapsed)="collapsedMain($event)" (expanded)="expandedMain($event)"
                    [collapse]="isCollapsedMain">
                    <div class="col-md-12 mb-12">
                        <!-- Nav tabs -->


                        <div class="row">

                            <div class="col-md-12 mb-12">
                                <div class="animated fadeIn">
                                    <div class="card">
                                        <div class="card-header">
                                            Datos Generales
                                            <button type="button" class="btn btn-primary sm pull-right"
                                                (click)="isCollapsed1 = !isCollapsed1"><i id="datos-generales-chevron"
                                                    class="fa fa-chevron-down" [hidden]="ColapseDG"></i>
                                                <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                    [hidden]="!ColapseDG"></i>
                                            </button>
                                        </div>
                                        <div class="card-body" (collapsed)="collapsed1($event)"
                                            (expanded)="expanded1($event)" [collapse]="isCollapsed1">
                                            <dl class="row">
                                                <dt class="col-sm-3">Tipo de Cuenta</dt>
                                                <dd class="col-sm-9">{{cdaScreen.ordererAccountType}}</dd>

                                                <dt class="col-sm-3">Cuenta</dt>
                                                <dd class="col-sm-9">{{cdaScreen.orderingAccount}}</dd>

                                                <dt class="col-sm-3">RFC o CURP</dt>
                                                <dd class="col-sm-9">{{cdaScreen.rfcOrCurpPayer}}</dd>

                                                <dt class="col-sm-3">Nombre</dt>
                                                <dd class="col-sm-9">{{cdaScreen.orderingName}}</dd>

                                                <dt class="col-sm-3">Apellido Paterno</dt>
                                                <dd class="col-sm-9">{{cdaScreen.orderingName}}</dd>

                                                <dt class="col-sm-3">Apellido Materno</dt>
                                                <dd class="col-sm-9">{{cdaScreen.orderingName}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">


                            <div class="col-md-12 mb-12">
                                <div class="animated fadeIn">
                                    <div class="card">
                                        <div class="card-header">
                                            Datos del Ordenante
                                            <button type="button" class="btn btn-primary sm pull-right"
                                                (click)="isCollapsed2 = !isCollapsed2"><i id="datos-generales-chevron"
                                                    class="fa fa-chevron-down" [hidden]="ColapseDO"></i>
                                                <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                    [hidden]="!ColapseDO"></i>
                                            </button>
                                        </div>
                                        <div class="card-body" (collapsed)="collapsed2($event)"
                                            (expanded)="expanded2($event)" [collapse]="isCollapsed2">
                                            <dl class="row">
                                                <dt class="col-sm-3">Tipo de Cuenta</dt>
                                                <dd class="col-sm-9">{{cdaScreen.ordererAccountType}}</dd>

                                                <dt class="col-sm-3">Cuenta</dt>
                                                <dd class="col-sm-9">{{cdaScreen.orderingAccount}}</dd>

                                                <dt class="col-sm-3">RFC o CURP</dt>
                                                <dd class="col-sm-9">{{cdaScreen.rfcOrCurpPayer}}</dd>

                                                <dt class="col-sm-3">Nombre</dt>
                                                <dd class="col-sm-9">{{cdaScreen.orderingName}}</dd>

                                                <dt class="col-sm-3">Apellido Paterno</dt>
                                                <dd class="col-sm-9">{{cdaScreen.orderingName}}</dd>

                                                <dt class="col-sm-3">Apellido Materno</dt>
                                                <dd class="col-sm-9">{{cdaScreen.orderingName}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="row">

                            <div class="col-md-12 mb-12">
                                <div class="animated fadeIn">
                                    <div class="card">
                                        <div class="card-header">
                                            Datos del Beneficiario 1
                                            <button type="button" class="btn btn-primary sm pull-right"
                                                (click)="isCollapsed3 = !isCollapsed3"><i id="datos-generales-chevron"
                                                    class="fa fa-chevron-down" [hidden]="ColapseDB1"></i>
                                                <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                    [hidden]="!ColapseDB1"></i>
                                            </button>
                                        </div>
                                        <div class="card-body" (collapsed)="collapsed3($event)"
                                            (expanded)="expanded3($event)" [collapse]="isCollapsed3">
                                            <dl class="row">
                                                <dt class="col-sm-3">Tipo de Cuenta</dt>
                                                <dd class="col-sm-9">{{cdaScreen.ordererAccountType}}</dd>

                                                <dt class="col-sm-3">Cuenta</dt>
                                                <dd class="col-sm-9">{{cdaScreen.cuentaBeneficiario}}</dd>

                                                <dt class="col-sm-3">RFC o CURP</dt>
                                                <dd class="col-sm-9">{{cdaScreen.rFCOCurpBeneficiario}}</dd>

                                                <dt class="col-sm-3">Nombre</dt>
                                                <dd class="col-sm-9">{{cdaScreen.nombreBeneficiario}}</dd>

                                                <dt class="col-sm-3">Apellido Paterno</dt>
                                                <dd class="col-sm-9">{{cdaScreen.nombreBeneficiario}}</dd>

                                                <dt class="col-sm-3">Apellido Materno</dt>
                                                <dd class="col-sm-9">{{cdaScreen.nombreBeneficiario}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">


                            <div class="col-md-12 mb-12">
                                <div class="animated fadeIn">
                                    <div class="card">
                                        <div class="card-header">
                                            Datos del Beneficiario 2
                                            <button type="button" class="btn btn-primary sm pull-right"
                                                (click)="isCollapsed4 = !isCollapsed4"><i id="datos-generales-chevron"
                                                    class="fa fa-chevron-down" [hidden]="ColapseDB2"></i>
                                                <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                    [hidden]="!ColapseDB2"></i>
                                            </button>
                                        </div>
                                        <div class="card-body" (collapsed)="collapsed4($event)"
                                            (expanded)="expanded4($event)" [collapse]="isCollapsed4">
                                            <dl class="row">
                                                <dt class="col-sm-3">Tipo de Cuenta</dt>
                                                <dd class="col-sm-9">{{cdaScreen.ordererAccountType}}</dd>

                                                <dt class="col-sm-3">Cuenta</dt>
                                                <dd class="col-sm-9">{{cdaScreen.cuentaBeneficiario2}}</dd>

                                                <dt class="col-sm-3">RFC o CURP</dt>
                                                <dd class="col-sm-9">{{cdaScreen.rFCOCurpBeneficiario2}}</dd>

                                                <dt class="col-sm-3">Nombre</dt>
                                                <dd class="col-sm-9">{{cdaScreen.nombreBeneficiario2}}</dd>

                                                <dt class="col-sm-3">Apellido Paterno</dt>
                                                <dd class="col-sm-9">{{cdaScreen.nombreBeneficiario2}}</dd>

                                                <dt class="col-sm-3">Apellido Materno</dt>
                                                <dd class="col-sm-9">{{cdaScreen.nombreBeneficiario2}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>


                        <br />
                        <h3>Cadena Original</h3>
                        <div class="col-md-12">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                                placeholder="Content.."
                                disabled>{{cdaScreen.selloDigital}}</textarea>
                        </div>
                        <br />
                        <h3>Sello Digital</h3>
                        <div class="col-md-12">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                                placeholder="Content.."
                                disabled>{{cdaScreen.selloDigital}}</textarea>
                        </div><br />
                        <h3>CDA</h3>
                        <div class="col-md-12">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                                placeholder="Content.."
                                disabled>{{cdaScreen.selloDigital}}</textarea>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>