<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Búsqueda de mensajes</strong>
        </div>
        <div class="card-body">
            <div class="row align-items-center">

                <div class="col-6 col-xl mb-6 mb-xl-0">
                    <div class="form-group">
                        <label for="">Fecha</label>
                        <input type="text" class="form-control" id="date" placeholder="dd/mm/aaaa">
                    </div>
                </div>

                <div class="col-6 col-xl mb-6 mb-xl-0">
                    <div class="form-group">
                        <label for="">Clave de rastreo</label>
                        <input type="text" class="form-control" id="date" placeholder="192812891">
                    </div>
                </div>

            </div>

            <div class="row align-items-center text-center">
                <div class="col-12 col-xl mb-12 mb-xl-0">
                    <button type="button" class="btn btn-info">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card-accent-primary">
                <div class="card-header">
                    <strong>Resultados</strong>
                </div>
                <div class="card-body">
                    <div class="col-md-12 mb-12">
                        <!-- Nav tabs -->
                        <tabset>
                            <tab heading="Datos Generales">
                                <dl class="row">
                                    <dt class="col-sm-3">Tipo de Cuenta</dt>
                                    <dd class="col-sm-9">Info</dd>

                                    <dt class="col-sm-3">Cuenta</dt>
                                    <dd class="col-sm-9">Info</dd>

                                    <dt class="col-sm-3">RFC o CURP</dt>
                                    <dd class="col-sm-9">Info</dd>

                                    <dt class="col-sm-3">Nombre</dt>
                                    <dd class="col-sm-9">Info</dd>

                                    <dt class="col-sm-3">Apellido Paterno</dt>
                                    <dd class="col-sm-9">Info</dd>

                                    <dt class="col-sm-3">Apellido Materno</dt>
                                    <dd class="col-sm-9">Info</dd>
                                </dl>
                            </tab>

                            <tab heading="Datos del Ordenante">
                                2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </tab>
                            <tab heading="Datos del Beneficiario">
                                3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </tab>
                        </tabset>
                        <br />
                        <h3>Cadena Original</h3>
                        <div class="col-md-12">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                                placeholder="Content.."
                                disabled>||1|08122014|06122014|112506|40012|IXE|Juan Garza Molina|40|032180000110540121|GAMJ740510F07|BBVA|Shunashi Perea Ortiz|40|012180012528891407|PEOS790430|Pago de Insumos|240|1500|00000100000100009805||</textarea>
                        </div>
                        <br />
                        <h3>Sello Digital</h3>
                        <div class="col-md-12">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                                placeholder="Content.."
                                disabled>kKQggYXet1N+j2FSLVaJaLBOLMTNXOnXSXW10IigQGLAz6EhCSt+lF2UKZPX/jZhEPs7ieJkSpvQdtjGFoKdj7ujHwCAScEd8qzFEy+M1pGlr0+I9k29xQTEToiROK9CBHc2xWEk4T9Gys8WheoeItU2/3d4cA3jZ6Y3j7jIdyM03bhE5CjFplLMlVica+VybHpotIXKjVJWmyChxeu+ikOkqbOP3n06zJNjdYuEe4YTjTuOusDhzOJiBPPTwAiZgTMAaQ==</textarea>
                        </div><br />
                        <h3>CDA</h3>
                        <div class="col-md-12">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                                placeholder="Content.."
                                disabled>||1|08122014|06122014|112506|40012|IXE|Juan Garza Molina|40|032180000110540121|GAMJ740510F07|BBVA|Shunashi Perea Ortiz|40|012180012528891407|PEOS790430|Pago de Insumos|240|1500|00000100000100009805|| kKQggYXet1N+j2FSLVaJaLBOLMTNXOnXSXW10IigQGLAz6EhCSt+lF2UKZPX/jZhEPs7ieJkSpvQdtjGFoKdj7ujHwCAScEd8qzFEy+M1pGlr0+I9k29xQTEToiROK9CBHc2xWEk4T9Gys8WheoeItU2/3d4cA3jZ6Y3j7jIdyM03bhE5CjFplLMlVica+VybHpotIXKjVJWmyChxeu+ikOkqbOP3n06zJNjdYuEe4YTjTuOusDhzOJiBPPTwAiZgTMAaQ==</textarea>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>